<div class="backgroundImageGroup"></div>
<h2>Information Orchestra</h2>
<p>Our orchestra is a unity. Each musician brings something to our identity, together with their instrument. That identity is also based on a shared artistic vision and management.</p>
<p>Take a look at our musicians, ordered by instrument.</p>
<h3>Musicians</h3>

<p class="main_titel_artiest">Instrument</p>
<div class="d-flex flex-wrap">
    <div class="card mb-3" style="max-width: 540px; margin-right: 25px">
        <div class="row g-0">
            <div class="col-md-4 cover" style="background-image: url('/img/GeneralArtist.jpg')"></div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">Name Artist</h5>
                    <p class="card-text">Role?</p>
                    <div class="d-flex justify-content-between align-self-end">
                        <a asp-controller="Book" asp-action="DetailBook" asp-route-id="book.Id">Details</a>
                        <a class="btn btn-primary" asp-action="EditBook" asp-controller="Book" asp-route-Id="book.Id">Edit</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>