@{
    ViewData["Title"] = "Home Page";
}

<div class="backgroundImageGroup"></div>
<div>
    <h2>Biography</h2>
    <p>
        Educational project, performed by Mylan Coudeville and supported by B’Rock Orchestra.
    </p>
    <p>
        B'Rock Orchestra, a musical group with a big heart for Baroque, is one of the biggest music orchestras of Belgium. With a wide range of concerts, we offer you a performance that you will not quickly forget. Playing our concerts on historical instruments, we take you on a journey through five centuries of music. We do not only play in Belgium or Europe, but internationally. We let the world know who we are!
    </p>
</div>
<div class="d-flex justify-content-center">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/rp-8uxDFRtE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>